/*
    UI
    --
*/
@import url(http://fonts.googleapis.com/css?family=Vibur);
@import url(http://fonts.googleapis.com/css?family=Imprima);

.vibur-font{
    font-family: 'Vibur', cursive;
}

.nascent {
    border-bottom:1px solid #999;
    padding:20px 0;
    font-size: 44px;
    text-align: center;
    color:#073763;
}

.instructions {
    padding: 10px 10px 0 25px;
}

.instructions li {
    padding-bottom:10;
}

.reset{
    width:30%;
    border:1px solid #ddd;
    border-right:0;
    padding:15px 0;
    background: #f8eee8;
    color:#333;
    font:inherit;
    margin-top: 10px;
    float:left;
}

.copy-data {
    width:70%;
    border:1px solid #ddd;
    padding:15px 0;
    background: #eee;
    float:right;
    color:#333;
    font:inherit;
    margin-top: 10px;
}

.copy-data.enabled {
    border-color: #3b6e22 #3b6e22 #2c5115;
    color: #fff;
    background-color: #69a74e;
}

.meta {
    font-size: 10px;
    color:#fff;
    background: #999;
    padding:10px;
    position: absolute;
    bottom:0;
}

.meta ul{
    list-style:none;
}

.meta ul li {
    display: inline; 
}
/*
    Maps
    ----
*/
.map {
    width: 80%;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    background: #fff;
}

.panel {
    width: 20%;
    position: absolute;
    right:0;
    top:0;
    color:#888;
    bottom:0;
    /*background: #58d3b9;*/
    background: #fff;
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.place {
background-color: #fff;
padding: 0 11px 0 13px;
width: 400px;
font-family: Roboto;
font-size: 15px;
font-weight: 300;
text-overflow: ellipsis;
}

.place:focus {
border-color: #4d90fe;
margin-left: -1px;
padding-left: 14px;  /* Regular padding-left + 1. */
width: 401px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Imprima', sans-serif;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}